body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://images8.alphacoders.com/739/thumb-1920-739448.png);
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: #1e507470;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

@media (max-width: 768px){
    #logo {
        opacity: 0;
    }
}

#logo{
    float: inline-start;
    margin-left: 50px;
    margin-top: 5px;
}

#tab{
    margin-left: -200px;
}

.tab{
    overflow: hidden;
    border-bottom: 2px solid #abddeb;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    transition: 0.3s;
    font-size: 18px;
    margin: 0 10px;
    align-items: center;
}

.tab button:hover {
    background-color: #27557b;
}

.tab button.active {
    background-color: whitesmoke;
    color: #1e5074;
}

.tabcontent {
    display: none;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.draggable {
    cursor: move;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #1e5074;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bolder;
}

#calcular{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#calcular-espirito{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#distribuir-pontos{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

button:hover {
    background-color: #416f96;
}

.resultado-container {
    margin-top: 20px;
    border-top: 1px solid whitesmoke;
    padding-top: 10px;
}
